<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
  <title>Главная страница</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/navigation.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="#">
            <img src="../static/img/склад.jpg" width="300" height="220" alt="Warehouse" class="logo-image">
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="hero">
    <div class="container">
      <h1 class="hero-title" >Склад №1 в СНГ</h1>
      <p class="hero-description">Лучшее складское помещение</p>
    </div>
  </section>

  <section class="container">
    <div class="container">
      <ul class="navigation">
        <li><a href="/products" class="btn_main" role="button" id="mainProduct">Товары</a></li>
        <li><a href="/clients" class="btn_main" role="button" id="mainClient">Клиенты</a></li>
        <li><a href="/supplier" class="btn_main" role="button" id="mainSupplier">Поставщики</a></li>
        <li><a href="/delivery" class="btn_main" role="button" id="mainDelivery">Доставка</a></li>
        <li><a href="/supplies" class="btn_main" role="button" id="mainSupplies">Поставка</a></li>
      </ul>

    </div>
  </section>

<!--  <footer class="footer">-->
<!--    <div class="container">-->
<!--      <div class="row py-5">-->
<!--        <div class="col-md-6 mb-5 mb-md-0">-->
<!--          <div class="social">-->
<!--            Мой вк: <a href="https://vk.com/" class="social-link">-->
<!--            <img src="../static/img/vk.png" alt="vk">-->
<!--          </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->
</body>

</html>