<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошика</title>
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/tables.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>

<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a href="#">
                    <img src="../../webapp/res/склад.jpg" width="300" height="220" alt="Warehouse" class="logo-image">
                </a>
            </div>
        </div>
    </div>
</header>

<section class="hero">
    <div class="container">
        <h1 class="hero-title" >Склад №1 в СНГ</h1>
        <p class="hero-description">Лучшее складское помещение</p>
    </div>
</section>

<section class="container">
    <div class="container">
        <ul class="navigation">
            <li><a href="/products" class="btn_main" role="button" id="mainProduct">Товары</a></li>
            <li><a href="/clients" class="btn_main" role="button" id="mainClient">Клиенты</a></li>
            <li><a href="/suppliers" class="btn_main" role="button" id="mainSupplier">Поставщики</a></li>
            <li><a href="/delivery" class="btn_main" role="button" id="mainDelivery">Доставка</a></li>
            <li><a href="/supplies" class="btn_main" role="button" id="mainSupplies">Поставка</a></li>
        </ul>

    </div>
</section>

<div class="container">
    <h1>Ошибка!</h1>
    <h3><span th:text="${error}"></span></h3>
</div>


<footer class="footer">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="social">
                    Мой вк: <a href="https://vk.com/" class="social-link">
                    <img src="../static/img/vk.png" alt="vk">
                </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>